<!DOCTYPE html >
<head> 
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="#"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&amp;display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="./css/style.css"/>
  <link rel="stylesheet" href="./css/loginStyle.css"/>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Care Pharmacy</title>
</head>
<body> 
  <div class="navbar">
    <div class="option"><a href="">FEATURES</a></div>
    <div class="option"><a href="">DETAILS</a></div>
    <div class="option"><a href="">REVIEW</a></div>
    <div class="plans option"><a href="">PLANS</a></div>
    <div class="sign-up option"><a href="">SIGN UP</a></div>
  </div>
  <section class="signup">
    <div class="signup-parent">
      <div class="signup-child">
        <div class="signup-header">
          <h3>premimum</h3>
          <div class="signup-pricing"><span class="pricing">$50</span>/month
            <p>That’s only 20$ per meal</p>
          </div>
        </div>
        <div class="signup-features">
          <ul>
            <li><i class="fas fa-check small-icon"> </i>1 meal every day</li>
            <li><i class="fas fa-check small-icon"> </i>Order 24/7</li>
            <li><i class="fas fa-check small-icon"> </i>Access to newest creations</li>
            <li><i class="fas fa-check small-icon"> </i>Free delivery</li>
            <li><i class="fas fa-check small-icon"> </i></li>
          </ul>
          <div class="signup-button"><a class="btn btn-full" href="#">I'm hungry</a></div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-parent">
      <ul class="footer-text">
        <li class="text-value"><a href="">About us</a></li>
        <li class="text-value"><a href="">ios App</a></li>
        <li class="text-value"><a href="">Android App</a></li>
      </ul>
      <ul class="social-link">
        <li><a href="#"><i class="fab fa-facebook icon-footer"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square icon-footer"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram icon-footer"></i></a></li>
        <li><a href="#"><i class="fab fa-snapchat-square icon-footer"></i></a></li>
      </ul>
    </div>
    <p class="footer-p">Copyright © 2019 EVERYONE. All rights reserved.</p>
  </footer>
  <script src="./script/script.js"></script>
</body>