
<div class="signup-child">
  <div class="signup-header">
    <h3>premimum</h3>
    <div class="signup-pricing"></div>
  </div>
  <div class="signup-features">
    <ul>
      <li><i class="fas fa-check small-icon"> </i>1 meal every day</li>
      <li><i class="fas fa-check small-icon"> </i>Order 24/7</li>
      <li><i class="fas fa-check small-icon"> </i>Access to newest creations</li>
      <li><i class="fas fa-check small-icon"> </i>Free delivery</li>
      <li><i class="fas fa-check small-icon"> </i></li>
    </ul>
    <div class="signup-button"><a class="btn btn-full" href="#">I'm hungry</a></div>
  </div>
</div>