extends base.pug
block content 
    .reviews.showcase
        .heading-4 REVIEWS
        .line
        .container
            .feature
                .feature-icon
                    i.fas.fa-user-circle
                .feature-heading Ankit 
                .feature-content
                    | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage.
                    | You can also choose to order more flexibly if that's your style.
                .rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
            .feature
                .feature-icon
                    i.fas.fa-user-circle
                .feature-heading Ayush
                .feature-content
                    | You're only twenty minutes away from your delicious and super healthy meals delivered right to your home.
                    | We work with the best chefs in each town to ensure that you're 100% happy.
                .rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
            .feature
                .feature-icon
                    i.fas.fa-user-circle
                .feature-heading Ashu
                .feature-content
                    | All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics.
                    | Good for your health, the environment, and it also tastes better!
                .rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star